# To install: 
#
# systemctl --user enable ./kanata.service
#
# This will create links to this file in ~/.config/systemd/user/ 
#
# If you change this file run this to reload it.
#
# systemctl --user daemon-reload
# systemctl --user restart kanata
#
[Unit]
Description=Kanata Service
After=graphical-session.target
Wants=graphical-session.target
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=simple
Environment="PATH=%h/bin:%h/.local/bin:/usr/bin:/bin"
ExecStart=%h/.local/bin/kanata -p 10101 -c %h/.config/kanata/kanata.kbd
Restart=No

[Install]
WantedBy=default.target
